.footer {
    // display: grid;
    margin-top: 3rem;
    margin-bottom: 5rem;
    height:150px;
    // grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(1, 2fr);
    // grid-gap: 2rem; 
     border-radius: 10px;
     background-color: darkorange;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     


}