.gallery {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
  max-height: 800px;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (0.5fr)[8];
      grid-template-rows: repeat(8, 0.5fr);
  grid-gap: 2rem;
  /* background-color:aqua; */
}

.gallery .gallery__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  background-size: cover;
  -webkit-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gallery .gallery__img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.gallery .gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery .gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery .gallery__item--3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery .gallery__item--4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery .gallery__item--5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery .gallery__item--6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

@media screen and (max-width: 575px) {
  .gallery .gallery {
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    justify-items: center;
    /* text-align: center; */
    -ms-grid-columns: ()[1fr];
        grid-template-columns: repeat(1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    background-color: none;
    grid-gap: 2rem;
    /* border: 3px solid #fff; */
  }
  .gallery .gallery__img {
    width: 100%;
    height: 100%;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    /* border: 3px solid #fff; */
    -o-object-fit: cover;
       object-fit: cover;
    /* display: block;  */
    cursor: pointer;
  }
  .gallery .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .gallery__item--4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
  .gallery .gallery__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
  }
  .gallery .gallery__item--6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
  }
}

@media screen and (min-width: 576px) and (max-width: 800px) {
  .gallery .gallery {
    width: 100%;
    height: 80%;
    /* text-align: center; */
    -ms-grid-columns: ()[3fr];
        grid-template-columns: repeat(3fr);
    -ms-grid-rows: (3fr)[3];
        grid-template-rows: repeat(3, 3fr);
    background-color: none;
    grid-gap: 2rem;
    /* border: 3px solid #fff; */
  }
  .gallery .gallery__img {
    width: 100%;
    height: 100%;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    /* border: 3px solid #fff; */
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  .gallery .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--2 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery .gallery__item--4 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery .gallery__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .gallery__item--6 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}
/*# sourceMappingURL=gallery.css.map */