* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
  max-height: 800px;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (0.5fr)[8];
      grid-template-rows: repeat(8, 0.5fr);
  grid-gap: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* background-color:aqua; */
}

.gallery .gallery__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  background-size: cover;
  -webkit-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gallery .gallery__img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.gallery .gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery .gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery .gallery__item--3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery .gallery__item--4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery .gallery__item--5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery .gallery__item--6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

@media screen and (max-width: 575px) {
  .gallery .gallery {
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    justify-items: center;
    /* text-align: center; */
    -ms-grid-columns: ()[1fr];
        grid-template-columns: repeat(1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    background-color: none;
    grid-gap: 2rem;
    /* border: 3px solid #fff; */
  }
  .gallery .gallery__img {
    width: 100%;
    height: 100%;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    /* border: 3px solid #fff; */
    -o-object-fit: cover;
       object-fit: cover;
    /* display: block;  */
    cursor: pointer;
  }
  .gallery .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .gallery__item--4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
  .gallery .gallery__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
  }
  .gallery .gallery__item--6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 9;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
  }
}

@media screen and (min-width: 576px) and (max-width: 800px) {
  .gallery .gallery {
    width: 100%;
    height: 80%;
    /* text-align: center; */
    -ms-grid-columns: ()[3fr];
        grid-template-columns: repeat(3fr);
    -ms-grid-rows: (3fr)[3];
        grid-template-rows: repeat(3, 3fr);
    background-color: none;
    grid-gap: 2rem;
    /* border: 3px solid #fff; */
  }
  .gallery .gallery__img {
    width: 100%;
    height: 100%;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    /* border: 3px solid #fff; */
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  .gallery .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--2 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row-end: 9; */
  }
  .gallery .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery .gallery__item--4 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery .gallery__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery .gallery__item--6 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

.main-header {
  display: -ms-grid;
  display: grid;
  /* background-color:aqua; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 800px;
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (3fr)[3];
      grid-template-rows: repeat(3, 3fr);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main-header .item1 {
  background-color: brown;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main-header .item2 {
  /** Alternative Syntax **/
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: #a8ca10;
}

.main-header .item3 {
  /** Alternative Syntax **/
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/ 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /  3;
  background-color: black;
  color: #fff;
  justify-items: center;
}

.main-header .item4 {
  /** Alternative Syntax **/
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 /9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 /4;
  background-color: coral;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  border-radius: 10px;
  text-align: center;
}

.main-header .item4 li {
  padding: 1.2rem;
  list-style-type: none;
  font-size: 20px;
}

.main-header .item4 a {
  font-style: italic;
  text-decoration: none;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 5rem;
  height: 150px;
  border-radius: 10px;
  background-color: darkorange;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url(/FE21-CSS3-DAY4-ABDULLA-MARKO/p14.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  width: 1140px;
  margin: 2rem auto;
}
/*# sourceMappingURL=grid.css.map */